<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts app!</title>
    <style>
      ul{
        list-style-type: none;
      }
      li{
        background-color: #bbb;
        padding: 10px;
        margin-bottom: 5px;
      }
      .content{
        border: 2px solid black;
        background-color: #ddd;
        padding: 10px;
      }
    </style>
</head>
<body>
  <header>
    <h1>Author page!</h1>
    <h2 id="username_field"></h2>
    <h3 id="author_field"></h3>
    <br>
    <p><a href="../create-post"">Create new post</a></p>
    <p><a href="../feed"">Posts feed</a></p>
    <p><a href="../user/user-page"">User Page</a></p>
  </header>
  <hr>
  <main>
    <ul id="posts_list">

    </ul>
  </main>
  <script>
    document.querySelector('#username_field').innerText = `Logged as: ${JSON.parse(localStorage.getItem('userData')).username}`
    fetch(`../api/userData/${window.location.pathname.split('/')[2]}`)
    .then((content)=>{
      return content.json()
    })
    .then((userData)=>{
      document.querySelector('#author_field').innerText = `Author: ${userData.username}`
      return fetch(`../api/userPosts/${window.location.pathname.split('/')[2]}`)
    })
    .then((content)=>{
      return content.json()
    })
    .then((userPosts)=>{
      const posts_list = document.querySelector('#posts_list')
      if(!userPosts.posts) return posts_list.innerHTML = '<p>No posts yet!</p>'
        userPosts.posts.forEach((post)=>{
          const listElement = document.createElement('li')
          listElement.innerHTML = `<div><h2>${post.post_name}</h2>
          <div class="content"><p>${post.post_content}</p></div>
          <p>Date: ${post.post_timestamp.split('T')[0].split('-').reverse().join('/')}</p>
          </div>`
          posts_list.appendChild(listElement)
        })
    })
  </script>
</body>
</html>