<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts app!</title>
</head>
<body>
    <header><h1>login</h1></header>
    <form action="api/login" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" required>
        <label for="password"></label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>