<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts app!</title>
</head>
<body>
    <header><h1>Signup</h1></header>
    <form action="api/signup" method="post">
        <label for="first_name">First name: </label>
        <input type="text" name="first_name" id="first_name" required>
        <label for="last_name">Last name: </label>
        <input type="text" name="last_name" id="last_name" required>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>