<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts app!</title>
    <style>
      ul{
        list-style-type: none;
      }
      li{
        background-color: #bbb;
        padding: 10px;
        margin-bottom: 5px;
      }
      .content{
        border: 2px solid black;
        background-color: #ddd;
        padding: 10px;
      }
    </style>
</head>
<body>
  <header>
    <h1>User page!</h1>
    <h2 id="username_field"></h2>
    <button id="logout_button">Logout</button>
    <button id="delete_user_button">Delete my user</button>
    <br>
    <p><a href="../create-post"">Create new post</a></p>
    <p><a href="../feed"">Posts feed</a></p>
  </header>
  <hr>
  <main>
    <ul id="posts_list">
      
    </ul>
  </main>
  <script>
    fetch(`../api/userData/`)
    .then((content)=>{
      return content.json()
    })
    .then((userData)=>{
      localStorage.setItem('userData', JSON.stringify(userData))
      document.querySelector('#username_field').innerText = `Logged as: ${userData.username}`
      return fetch('../api/userPosts')
    })
    .then((content)=>{
      return content.json()
    })
    .then((userPosts)=>{
      const posts_list = document.querySelector('#posts_list')
      if(!userPosts.posts) return posts_list.innerHTML = '<p>No posts yet!</p>'
      
        userPosts.posts.forEach((post)=>{
          const listElement = document.createElement('li')
          listElement.innerHTML = `<div><h2>${post.post_name}</h2><div class="content"><p>${post.post_content}</p></div>
          <p>Date: ${post.post_timestamp.split('T')[0].split('-').reverse().join('/')}</p>
          <button id="${post.id}" class="delete-button">Delete</button>
          </div>`
          posts_list.appendChild(listElement)
        })
        const deleteButtons = document.querySelectorAll('.delete-button')
        deleteButtons.forEach((button)=>{
          button.addEventListener('click', ()=>{
            fetch(`../api/deletePost/${button.id}`, {
              method: 'DELETE'
            })
            window.location.reload()
          })
        })
    })

    const logoutButton = document.querySelector('#logout_button')
    logoutButton.addEventListener('click', ()=>{
      console.log('loggin out...')
      fetch('../api/logout', {
        method: 'PUT',
        body: localStorage.getItem('userData')
      })
      localStorage.removeItem('userData')
      window.location.href = '../'
    })

    const deleteUserButton = document.querySelector('#delete_user_button')
    deleteUserButton.addEventListener('click', ()=>{
      fetch('../../api/deleteUser', {
        method: 'DELETE',
      })
      window.location.href = '../'
    })
  </script>
</body>
</html>