<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts app!</title>
    <link rel="stylesheet" href="../../css/post-list.css">
</head>
<body>
  <header>
    <div id="first-container">
      <h2 id="author_field"></h2>
    </div>
    <div id="second-container">
      <a href="../feed"><button>Posts feed</button></a>
      <button onclick="logoutUser()">Logout</button>
    </div>
    <button id="open-menu-button" onclick="setMenu()">Open Menu</button>
    <div id="mobile-menu">
      <nav>
        <ul>
          <li><button onclick="setMenu()">Close Menu</button></li>
          <li><a href="../feed"><button>Posts feed</button></a></li>
          <li><button onclick="logoutUser()">Logout</button></li>
        </ul>
      </nav>
    </div>
  </header>
  <hr>
  <main>
    <ul id="posts_list">
      
    </ul>
  </main>
  <script src="../../js/author-page.js"></script>
</body>
</html>